body {
	margin: 0;
	background: #000000;
	background: linear-gradient(to right, #000000, #FFFFFF);
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	text-align: center;
}

h1 {
	font-family: 'Libre Baskerville', serif;
	font-weight: bold;
	color: #FFFFF0;
}

/* Links */
a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #8C4845;
}

/* Buttons */
.navbar-button, .actions-button {
	background: #8C4845;
	background: linear-gradient(to bottom, #8C4845, 70%, #FFFFFF);
	border-radius: 0.6rem;
	color: #FFFFFF;
}

/* Section background colors */
.dblue {
	background-color: #36648B;
}

.dgreen {
	background-color: #368B88;
}

/* Header section */
.header-sec {
	margin: 2% 2% 16% 2%;
	padding-top: 4%;
	padding-bottom: 4%;
	box-shadow: 2px 2px 5px #7F7F7F;
}

/* Header titles section */
.headertitle-text {
	font-size: 4.5rem;
	text-shadow: 2px 2px 2px #368B88, 4px 4px 4px #7F7F7F, 0 0 60px #FFFFFF;
}

.headersubtitle-text {
	font-size: 2.0rem;
}

/* Carousel section */
.carousel-sec {
	margin: 4%;
}

.carousel-caption {
	position: static;
	font-size: 3.0rem;
}

/* Columns section */
.column-sec {
	margin: 2%;
}

/* Left Column, Selling section */
.column-left {
	padding-right: 4%;
}

.cd-body {
	margin-bottom: 20%;
}

.cd-videos {
	margin-bottom: 0;
}

.cd-header {
	padding-top: 2%;
}

.cd-text {
	padding: 2%;
}

.cd-image {
	width: 50%;
	margin: 4% 2% 2% 2%;
}

/* Right Column */
.column-right {
	position: relative;
}

/* Navbar section */
.navbar-sec {
	padding: 2% 5%;
	text-align: justify;
}

.navbar-toggler {
	margin-right: 4%;
}

/* Actions section */
.actions-sec {
	margin-top: 50%;
}

.sign-sec {
	background-color: transparent;
}

/* Footer section */
.footer-sec {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footertext-sec {
	padding: 2% 1%;
}

.fabout-link {
	margin-right: 2%;
}

/* Media text */
@media (max-width: 576px) {
	html {
		font-size: 50%;
	}

	/* Media navbar */
	.collapse:not(.show) {
		display: flex;
	}

	.navbar {
		flex-wrap: nowrap;
		padding: 2% 5%;
	}

	.navbar-toggler {
		display: none;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.nav-item {
		margin-right: 5%;
	}
}
