html {
	margin: 0;
	background-color: #FFFFFF;
}

.container-fluid {
	border: dotted #FF00FF 1px;
}

.row {
	border: dotted #FFFF00 1px;
}

.cont {
	border: dotted #FF00FF 1px;
}

.cont-six {
	float: left;
	width: 50%;
}

@media (max-width: 576px) {
	.cont-six {
		width: 100%;
	}
}
